#budget-main{
    margin: auto;
    width: 50%;
    padding: 10px;
}
#trip-plan-grid {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
}
#urMom {
    grid-column: 1 / 5;
    background-color: #CCD6EB;
    padding: 15px;

}
#total-budget {
    grid-column: 1 / 3;
}
#happiness {
    grid-column: 3 / 5;
}
#budget-block {
    display: block;
}
.trip-allocation {
    background-color: #CCD6EB;
    padding-left: 15px;
    padding-right: 15px;
}
